<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page 404</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <h3>Ops! Page not Found.</h3>
  {{>header}}
  {{>footer}}
</body>
</html>